body {
    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Other */
    text-align: center;
}

header {
    width: 50%;
    margin: 2em;
    margin-bottom: 2em;
}

nav {
    margin: 1em;
    margin-bottom: 2em;
}

nav a {
    padding-left: 1em;
    padding-right: 1em;
}

main {
    position: relative;
    width: 100%;
    margin: 1em;
    z-index: 1;
    background-color: hsla(188, 48%, 13%, 1);
    /* background-color: hsla(326, 100%, 30%, 1); */
}

footer {
    height: 45em;
}

.timeline-list {
    position: relative;
    padding-left: 0;
    z-index: 10;
}

/* .timeline-list li { */
.timeline-event {
    position: relative;
    text-align: left;
    margin: 0 auto; /* Make first element touch top of parent el and center it */
    padding-top: 3em;
    padding-bottom: 3em;
}

.timeline-event::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: hsla(100, 100%, 100%, 0.7);
    /* background: url("circle.png"); */
    border: 2px solid hsla(326, 100%, 83%, 1);
    border-radius: 50%;
    z-index: 15;
}

/* Create the timeline-event text boxes */
.timeline-event div {
    width: 400px;
    position: relative;
    /* Hide on load */
    visibility: hidden;
    opacity: 0;
    padding: 1em;
    /* Ball stays aligned with bottom of div content */
    border: 2px solid pink;
    background: pink;
    transition: all 0.5s ease-in-out;
}

/* Move the div content of timeline-event to right side if odd */
.timeline-list li:nth-child(odd) div {
    left: 60%;
    transform: translate3d(200px, 0, 0);
}

/* Move the div content of timeline-event to left side if even */
.timeline-list li:nth-child(even) div {
    left: 5%;
    transform: translate3d(-200px, 0, 0);
}

.timeline-list li.in-view div {
/* .timeline-event.in-view div { Even though selectors are same, more specific one gets applied last,
    so the n-th child selector gets applied last and animation doesn't work right */
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* Stem topper contains the mask */
.stem-topper{
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    background: url("stem-mask.png") repeat-y top center;
}


.stem-wrapper {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background: hsla(100, 100%, 100%, 0.7);
    /* background: palegreen; */
    /* background: url("stem-mask.png") repeat-y top center; */
}

.visible-stem {
    position: sticky;
    top: 0;
    height: 30vh;
    z-index: 5;
    /* background: hsla(188, 48%, 13%, 1); */
    background: hsla(326, 100%, 83%, 1);
    opacity: 1.0;
}

.root {
    position: sticky;
    top: 30vh;
    height: 70vh;
    /* background: hsla(188, 48%, 13%, 1); */
    /* background: hsla(326, 100%, 83%, 0.4); */
    z-index: 3;
    opacity: 1;
}

/* Text */
nav {
    font-size: 1.5em;
}

p {
    font-size: 1.25em;
}

div {
    font-size: 1.25em;
}
